body {
    background-color: rgb(164, 230, 188);
    text-align: center;
    color: rgb(0, 0, 0);
    width: auto;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: forestgreen;
}
.item {
    display: inline-block;
    border: 10px black;
    border-radius: 10px;
    text-align: left;
}
.dropdown {
    position: relative;
    text-align: center;
    color:blue;
    max-width: 10px;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: rgb(126, 126, 141);
    min-width: 130px;
    padding: auto;
    box-shadow: inset;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.unique {
    color:black;
    text-align: center;
    border: 5px black;
}