body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
    width: device-width;
}
/*navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: forestgreen;
}

.item {
    display: inline-block;
    color: blue;
    border: 10px black;
    border-radius: 10px;
    text-align: left;
    padding: auto;
}

/*dropdown menu*/
.dropdown {
    position: relative;
    text-align: center;
    color: blue;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: green;
    min-width: 130px;
    padding: auto;
    box-shadow: inset;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition-duration: 1s;
    transition: ease-in-out;
}

/*table*/
table {
    border: 2px solid black;
    padding: 10px;
    background-color:rgb(179, 179, 179);
    display: flexbox;
    justify-self: center;
}

.header {
    background-color: rgba(0, 0, 255, 0.589);
}

.data {
    box-sizing: border-box;
    background-color: rgba(0, 255, 255, 0.442);
}
.EC{
    width: 50px;
}
/*----------------------------------------*/