.icon {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}
.ul {
    list-style-type: none;
    display: block;
}
.left{
    text-align: left;
    max-width: 50px;
    display: flexbox;
    justify-self: left;
}
.photo{
    height:auto;
    width: auto;
    margin-left: 500px;
}
.phototext{
    display: flex;
    flex-direction: row;
}
.line{
    text-wrap-mode: wrap;
    word-wrap: normal;
    text-wrap-style: pretty;
    max-width: 300px;
    width: 300px;
    display: flex;
}