.icon{
    height: 50px;
    width: 50px;
    align-items: left;
    float: left;
}
.ul {
    list-style-type: none;
    display: block;
}
.left{
    text-align: left;
}
.photo{
    height:auto;
    width: auto;
    margin-right: 500px;
    display: inline;
    white-space: nowrap;
    text-align: center;
}
.line{
    float: left;
    display: inline;
    white-space: nowrap;
    margin-bottom: 1000px;
    text-align: center;
}