.icon{
    height: 50px;
    width: 50px;
    align-items: left;
    float: left;
}
.ul {
    list-style-type: none;
    display: block;
}
.left{
    text-align: left;
}
.photo{
    height:auto;
    width: auto;
    margin-right: 500px;
    display: inline-block;
    white-space: nowrap;
    align-items: center;
    position: relative;
}
.line{
    display: flexbox;
    white-space: nowrap;
    text-align: left;
    position: sticky;
    margin-left: 580px;
}
.inline {
    display: inline;
}